:root {
  --primary: #656d4a;
  --background: rgb(33, 15, 4);
  --background2: #1e2116;
  --navbar: #414833;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background);
  color: #fff;
  /* min-height: 2000px; */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(1, 1, 1, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  margin: 0 1rem;
}

.navbar.navbar-nav a :hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("../img/adrian.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 60%,
    /* transparan di atas */ rgb(33, 15, 4) 100%
      /* coklat tua di bawah (warna background) */
  );
  z-index: 1;
}

#home {
  display: flex;
  justify-content: center;
}

.hero .content {
  padding: 1.4rem 7%;
  text-align: center;
}

.hero .content h1 {
  font-size: 5.5rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  color: #fff;
}

/* About Me Section */
.About,
.Sosmed,
.Creation,
.ability {
  padding: 8rem 7% 1.4rem;
  min-height: 100vh;
  margin: 3rem 4rem;
  background-color: var(--background2);
  border-radius: 3rem;
}

.About h2,
.Sosmed h2,
.Creation h2,
.ability h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 3rem;
}

.About .row {
  display: flex;
  align-items: center;
}

.About .row .About-img {
  flex: 1 1 15rem;
}

.About .row .About-img img {
  width: 85%;
  border-radius: 50%;
}

.About .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.About .row .content h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.About .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.7rem;
  font-weight: 300;
  line-height: 1;
  padding-left: 2rem;
}

/* Sosmed Section */
.contact-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.contact-left-title h2 {
  font-weight: 600;
  color: #a363aa;
  font-size: 40px;
  margin-bottom: 5px;
}
.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}
.contact-inputs {
  width: 400px;
  height: 50px;
  outline: none;
  border: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}
.contact-left textarea {
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}
.contact-inputs:focus {
  border: 2px solid #ff994f;
}
.contact-container::placeholder {
  color: #a9a9a9;
}
.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  color: #fff;
  gap: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50px;
  background: linear-gradient(270deg, #ff994f, #fa6d86);
  cursor: pointer;
}
.contact-left button img {
  height: 15px;
}
.contact-right img {
  width: 500px;
}

.Sosmed .row {
  margin-top: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.Sosmed .row .Sosmed-card {
  text-align: center;
  padding: 1rem 4rem;
}

.Sosmed .row .Sosmed-card h3 {
  text-align: center;
}

.Sosmed .Sosmed-card .Sosmed-card-title {
  margin-top: 1.5rem;
}

.Sosmed a {
  color: lightblue;
}

/* Creation Section */
.Creation .row h3 {
  padding-left: 3rem;
}

.Creation .cta {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.8rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/* Footer */
.footer {
  background-color: var(--primary);
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

.footer .links a {
  color: #fff;
}

.footer .links a:hover {
  color: #010101;
}

/* Media Queries */

/* Laptop */
@media (max-width: 1920px) {
  html {
    font-size: 70%;
  }
}

/* Tablet */
@media (max-width: 1080px) {
  html {
    font-size: 58%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--background);
    width: 30rem;
    height: 100vh;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: #fff;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .About .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .About-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .About .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .About .row .content p {
    font-size: 1.6rem;
  }
}

/* Mobile Phone */
@media (max-width: 720px) {
  html {
    font-size: 48%;
  }
}
